<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Reach Bot {% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
  </head>

  <body style="background-color: rgba(21, 32, 43, 1); color: #ffff">
    <div class="container">
      <h1>Reach Bot</h1>
      {% block containercontent %}{% endblock %}
      <hr style="" />
      <div class="footer">
        <p class="text-muted">
          <small>
            Densenvolvido por tpdtop, CSS básico fornecido por
            <a href="http://getbootstrap.com/">Bootstrap</a> Código fonte deste
            projeto pode ser acessado em
            <a
              href="https://github.com/GuilhermeFlach-IFRS-Feliz/2021-trabalho2-topicos"
              >https://github.com/GuilhermeFlach-IFRS-Feliz/2021-trabalho2-topicos</a
            >.</small
          >
        </p>
      </div>
    </div>
  </body>
</html>
