{% extends "base.html" %} {% block containercontent %}
<p class="lead">
  Este é o Reach Bot, uma ferramenta desenvolvida para avaliar a repercussão e o
  alcance dos seus posts no Twitter.
</p>

<div class="hero-unit">
  <p>Como funciona:</p>
  <ol>
    <li>
      Todo sábado, a conta no twitter
      <a href="https://twitter.com/reach_bot">@reach_bot</a> irá enviar uma
      mensagem direta aos usuários registrados.
    </li>
    <li>
      Visualizações, likes, respostas, re-tweets e a quantidade de pessoas que
      acessaram o seu perfil serão exibidas na mensagem.
    </li>
    <li>
      Ao registrar-se, o usuário deverá permitir o acesso do Reach Bot às
      informações da sua conta atráves do botão abaixo.
    </li>
    <li>
      Usuários que não realizaram tweets durante a semana não receberão
      mensagens do Reach Bot.
    </li>
  </ol>
</div>
<div class="btn-wrapper">
  <a href="/start" class="btn btn-primary btn-lg"> Conectar</a>
</div>
{% endblock %}
